*
{
	box-sizing: border-box;
}

body
{
	margin: 0;
	background-color: rgb(245,245,245);
	color: #333;
	font-family: arial;
	line-height: 1.5em;
}

button:not(.close)
{
	padding: 12px 23px;
	background-color: #678FFF;
	border: none;
	border-radius: 7px;
	color: white;
	font-size: 16px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
}
button:hover
{
	cursor: pointer;
}

.navbar
{
	position: fixed;
	top: 0;
	left: 0;
	padding: 16px;
	width: 100%;
}

.menu-icon
{
	padding: 10px 12px;
	border-radius: 3px;
	transition: 0.1s;
}

.menu-icon:hover
{
	background-color: rgba(0,0,0,0.2);
	cursor: pointer;
}

.menu-icon div
{
	width: 16px;
	height: 2px;
	background-color: gray;
	margin: 3px 0;
}

#sidebar
{
	background-color: white;
	border-left: 1px solid rgba(0,0,0,0.2);
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	width: 250px;
	margin-right: -300px;
	transition: 0.4s;
	padding: 30px;
	color: gray;
	font-size: 14px;
	line-height: 2em;
	overflow: auto;
	text-transform: uppercase;
}

#sidebar .close
{
	color: rgba(0,0,0,0.3);
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: transparent;
	border: none;
	font-size: 28px;
	transition: 0.1s;
}

#sidebar .close:hover
{
	color: gray;
}

#sidebar a
{
	color: #333;
	text-decoration: none;
	display: block;
	text-transform: capitalize;
}

#sidebar a:hover
{
	text-decoration: underline;
}

#sidebar div
{
	margin: 20px 0;
}

.container
{
	width: 750px;
	margin: auto;
	margin-top: 4%;
	position: relative;
}

.logo
{
	height: 250px;
	width: auto;
}

.form-wrapper
{
	display: block;
	background-color: white;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 5px;
	overflow: auto;
	width: 80%;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.07);
}

.form-wrapper input
{
	background: transparent;
	border: none;
	float: left;
	padding: 13px;
	width: 90%;
	font-size: 16px;
}

.form-wrapper .search
{
	float: left;
	width: 10%;
	padding: 10px;
	background-color: transparent;
	border: none;
	border-radius: 0;
	transition: 0.1s;
}
.form-wrapper .search img
{
	height: 20px;
	width: auto;
}

.form-wrapper .search:hover
{
	background-color: rgba(0,0,0,0.2);
	color: #fff;
	fill: #fff;
}

.title
{
	font-size: 28px;
	font-weight: bold;
	margin: 5px;
}

.form-wrapper input:focus
{
	outline: none;
}
