*
{
	box-sizing: border-box;
}

body
{
	margin: 0;
	background-color: rgb(240,240,240);
	color: gray;
	font-family: arial;
}

button
{
	padding: 12px 23px;
	background-color: rgb(0, 126, 232);
	border: none;
	border-radius: 7px;
	color: white;
	font-size: 16px;
}
button:hover
{
	cursor: pointer;
}

.container
{
	width: 700px;
	margin: auto;
	margin-top: 5%;
	position: relative;
}

.logo
{
	height: 250px;
	width: auto;
}

.form-wrapper
{
	display: block;
	background-color: white;
	border: 1px solid rgba(0,0,0,0.25);
	border-radius: 5px;
	overflow: auto;
	width: 80%;
}

.form-wrapper input
{
	background: transparent;
	border: none;
	float: left;
	padding: 13px;
	width: 90%;
}

.form-wrapper .search
{
	float: left;
	width: 10%;
	padding: 8px;
	background-color: transparent;
	border: none;
	border-radius: 0;
}
.form-wrapper .search img
{
	height: 22px;
	width: auto;
	filter: grayscale(100%);
}
.form-wrapper .search:hover
{
	background-color: rgba(0,0,0,0.2);
}

.title
{
	font-size: 28px;
	color: #333;
}
